# Amadeus API
AMADEUS_CLIENT_ID=your_client_id_here
AMADEUS_CLIENT_SECRET=your_client_secret_here

# Email
EMAIL_SENDER=youremail@gmail.com
EMAIL_PASSWORD=your_app_password_here
EMAIL_RECEIVER=youremail@gmail.com